In [2]:
import pandas as pd
import numpy as np

In [3]:
df_sent = pd.read_csv('small_graphs_1d_coloring_results.csv')
# df_sent = pd.read_csv('sent_2d_last.csv')
df_sent.sample(3)

,graphname,num_nodes,num_edges,optimal,degree1,degree2,degree3,closeness,clustering,pagerank,weighted,uniform,random,dynamic,saturation
112,impcol_e.mtx,225,1308,12,12,13,13,12,13,12,13,12,12.2,13,13
185,bcsstk03.mtx,112,376,4,4,4,4,4,5,4,5,4,5.8,4,4
151,cage_G_27.mtx,126,189,2,2,2,2,2,2,2,2,2,4.0,2,2

In [45]:
df_sent.columns

Index(['graphname', 'num_nodes', 'num_edges', 'optimal', 'degree1', 'degree2',
       'degree3', 'closeness', 'clustering', 'pagerank', 'weighted', 'uniform',
       'random', 'saturation'],
      dtype='object')

In [46]:
df = pd.read_csv('1d_small_dynamic.csv')
df.sample(3)

         graphname   num_nodes   num_edges   dynamic
74   cage_G_24.mtx          70         210         2
179  cage_G_13.mtx          58         174         3
170  cage_G_30.mtx         620        1860         3

In [47]:
# df.drop(['family', 'nodes','edges'], axis=1, inplace=True)
df = df[['graphname', ' dynamic']]
df['dynamic'] = df[' dynamic']
df.drop(' dynamic', axis=1, inplace=True)
df.sample(3)

             graphname  dynamic
42         str_200.mtx        6
105         pde225.mtx        2
106  oscil_dcop_19.mtx        3

In [48]:
ordering = df.merge(df_sent, on="graphname", left_index=True)
ordering = ordering[['graphname', 'num_nodes', 'num_edges', 'optimal', 'degree1', 'degree2', 'degree3' ,'closeness', 'clustering', 'pagerank', 'weighted', 'uniform', 'random','dynamic', 'saturation']]
# ordering = ordering[['graphname', 'num_nodes', 'num_edges', 'degree1', 'degree2', 'degree3' ,'closeness', 'clustering', 'pagerank', 'weighted', 'uniform', 'random','dynamic', 'saturation']]
ordering.sample(3)

,graphname,num_nodes,num_edges,optimal,degree1,degree2,degree3,closeness,clustering,pagerank,weighted,uniform,random,dynamic,saturation
108,gre_343.mtx,343,1435,2,2,2,2,2,2,2,2,2,5.2,2,2
127,mesh3em5.mtx,289,1089,3,6,5,5,4,6,5,4,6,6.0,3,3
90,Erdos971.mtx,433,1314,7,9,9,9,9,10,9,9,9,10.6,8,8

In [50]:
ordering.dropna(inplace=True)
ordering.drop_duplicates(inplace=True)

In [51]:
ordering.shape

(192, 15)

In [88]:
order_norm = ordering.drop(["graphname", "num_nodes", "num_edges"], axis=1).div(ordering["degree2"].values, axis=0)
order_norm.sample(3)

,degree1,degree2,degree3,closeness,clustering,pagerank,uniform,random,dynamic,saturation
30,1.084211,1.0,1.010526,0.915789,1.063158,1.136842,1.084211,1.012632,0.863158,0.852632
84,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
37,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [89]:
order_norm.describe()

,degree1,degree2,degree3,closeness,clustering,pagerank,uniform,random,dynamic,saturation
count,158.000000,158.0,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,1.000223,1.0,1.004477,0.997797,1.017021,1.059051,1.018798,1.044231,0.979433,0.943616
std,0.038428,0.0,0.033375,0.070990,0.062583,0.105509,0.080714,0.106764,0.081603,0.104226
min,0.818182,1.0,0.900000,0.727273,0.818182,0.893333,0.727273,0.833929,0.714286,0.500000
25%,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.954670,0.909091
50%,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,1.000000,1.0,1.000000,1.000000,1.018582,1.086630,1.058916,1.070238,1.000000,1.000000
max,1.106845,1.0,1.133333,1.309859,1.338028,1.555556,1.366197,1.571429,1.333333,1.129870

# Excluding Ones With Small Color Info For Dist 1

In [98]:
chosen_d1 = ordering[ordering['degree2'] > 100]
chosen_d1.sample(3)

,graphname,num_nodes,num_edges,degree1,degree2,degree3,closeness,clustering,pagerank,uniform,random,dynamic,saturation
143,hood.mtx,220542.0,5494489.0,112.0,112,112.0,112.0,112.0,105.0,112.0,93.4,105.0,91
65,barrier2-3.mtx,113076.0,3805068.0,7031.0,7031,7031.0,7031.0,7031.0,7031.0,7031.0,7031.0,7031.0,7031
33,para-6.mtx,155924.0,5416358.0,6931.0,6931,6931.0,6931.0,6931.0,6931.0,6931.0,6931.0,6931.0,6931

In [99]:
chosen_d1.shape

(79, 13)

In [100]:
order_norm = chosen_d1.drop(["graphname", "num_nodes", "num_edges"], axis=1).div(chosen_d1["degree1"].values, axis=0)
order_norm.sample(3)

,degree1,degree2,degree3,closeness,clustering,pagerank,uniform,random,dynamic,saturation
153,1.0,0.963855,0.96988,0.728916,1.016064,0.973896,0.957831,0.809237,0.724900,0.706827
35,1.0,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
48,1.0,1.007752,1.03876,1.023256,1.031008,1.093023,1.062016,1.031008,0.968992,0.883721

In [101]:
order_norm.describe()

,degree1,degree2,degree3,closeness,clustering,pagerank,uniform,random,dynamic,saturation
count,79.0,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,1.0,0.995381,0.997650,0.995823,1.016367,1.031883,1.024334,0.998311,0.976554,0.971841
std,0.0,0.029978,0.036583,0.053240,0.042507,0.072286,0.063042,0.058284,0.049728,0.066888
min,1.0,0.903469,0.859940,0.728916,0.964286,0.937500,0.935065,0.809237,0.724900,0.706827
25%,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999838,0.970073,0.963203
50%,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,1.0,1.000000,1.000000,1.000000,1.011071,1.035099,1.029436,1.000000,1.000000,1.000000
max,1.0,1.124197,1.090909,1.189394,1.252280,1.374507,1.353414,1.236757,1.068091,1.118265

# Finding Graph Names Which are not Present on one of the CSVs

In [26]:
files = []
for i, j in df.iterrows(): 
    if j.files not in df_sent['gname'].unique().tolist():
        files.append(j.files)
print(files)

['3Dspectralwave.mtx', 'af_3_k101.mtx', 'analytics.mtx', 'luxembourg_osm.mtx', 'kron_g500-logn17.mtx', 'ms2010.mtx', 'kron_g500-logn18.mtx', 'ASIC_320k.mtx', 'hood.mtx', 'HTC_336_4438.mtx', 'mario002.mtx', 'coAuthorsCiteseer.mtx', 'kron_g500-logn19.mtx', 'ks2010.mtx', 'Dubcova3.mtx', 'il2010.mtx', 'nxp1.mtx', 'inline_1.mtx', 'para-4.mtx', 'lp1.mtx', 'ins2.mtx', 'audikw_1.mtx', 'power9.mtx', 'pwtk.mtx', 'auto.mtx', 'shipsec1.mtx', 'thermomech_TC.mtx', 'shipsec5.mtx', 'TSOPF_FS_b39_c30.mtx', 'transient.mtx', 'ut2010.mtx', 'xenon2.mtx', 'fcondp2.mtx', 'bmwcra_1.mtx', 'boyd2.mtx', 'Fault_639.mtx', 'bundle_adj.mtx', 'c-73b.mtx', 'Emilia_923.mtx', 'engine.mtx', 'F1.mtx', 'tmt_unsym.mtx', 'tx2010.mtx']

# Saving to CSV File

In [52]:
ordering.to_csv('small_graphs_1d_coloring_results2.csv', index=False)

In [102]:
df_new = pd.read_csv('saturation_with_dynamic.csv')

In [103]:
df_new.sample(3)

            files   deg1   saturation
48  cage_G_32.mtx     13            2
19  cage_G_02.mtx      7            2
61    can_144.mtx     16            6

In [104]:
df_new.describe()

             deg1   saturation
count  192.000000   192.000000
mean    51.010417     6.057292
std     89.753997     7.650196
min      4.000000     2.000000
25%     10.000000     3.000000
50%     17.000000     4.000000
75%     43.250000     6.000000
max    486.000000    81.000000

In [108]:
df_new2 = pd.read_csv('data2.csv')

In [109]:
df_new2.sample(3)

           files   deg1   saturation
131   nnc261.mtx     18            2
191  will199.mtx     20            4
137   olm500.mtx      6            3

In [110]:
df_new2.describe()

             deg1   saturation
count  192.000000   192.000000
mean    51.010417     6.041667
std     89.753997     7.640368
min      4.000000     2.000000
25%     10.000000     3.000000
50%     17.000000     4.000000
75%     43.250000     6.000000
max    486.000000    81.000000