In [8]:
import pandas as pd
import numpy as np

In [9]:
df_sent = pd.read_csv('sentiment.csv')
df_sent.sample(3)

             gname  sentiment  closeness
157      rw496.mtx          4          4
163     steam1.mtx          6          6
23   cage_G_06.mtx          3          4

In [10]:
df = pd.read_csv('1d_small.csv')
df.sample(3)

             gname              family  nodes  edges  optimal
99   cage_G_32.mtx       not available     26    104        2
12    problem1.mtx       2D/3D problem    415   4728        4
165   mesh3em5.mtx  structural problem    289   1600        3

In [11]:
df.drop(["family", "nodes", "edges"], axis=1, inplace=True)
df.sample(3)

                  gname  optimal
92        cage_G_24.mtx        2
18         west0132.mtx        4
113  orbitRaising_1.mtx        4

In [12]:
df = df.merge(df_sent, on="gname", left_index=True)
df.sample(3)

             gname  optimal  sentiment  closeness
12    bcsstk22.mtx        5          5          6
122   lshp_265.mtx        4          4          4
30   cage_G_13.mtx        3          3          4

In [13]:
orderings = df[["closeness", "sentiment"]].div(df["optimal"].values, axis=0)
orderings.sample(3)

     closeness  sentiment
169        1.0        1.0
3          1.0        1.0
156        1.0        1.0

In [14]:
orderings.describe()

        closeness   sentiment
count  192.000000  192.000000
mean     1.184408    1.065277
std      0.220671    0.108483
min      1.000000    1.000000
25%      1.000000    1.000000
50%      1.139610    1.000000
75%      1.333333    1.142857
max      2.000000    1.400000